
<p>
  Cafe for the meeting
</p>
<p>
  <%= @meeting.shop.name%>
</p>
<p>
  address:<%= @meeting.shop.address%>
</p>
<p>
  <%= @meeting.organizer.name%>
</p>
<p>
  <%= @meeting.meeting_date_time%>
</p>
<p>
  <%= @meeting.readed%>
</p>


<%= form_for @meeting do |f| %>
<%= f.submit "Take it now"%>
<% end %>
