<div class="row">
    <div class="col-sm-5">
        <div>
            <%= image_tag @shop.image, :class => "img-thumbnail" %>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                Meet someone at
                <%= @shop.name %>
            </div>
            <div class="panel-body">
                <%= form_for :meeting, url: meetings_path, method: :post do |f|%>
                  <div class="form-group">
                      <div class='input-group date' id='meeting_date_time'>
                          <div class="input-group pull-left">
                              <%= f.text_field :meeting_date_time, class: "form-control" %>
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar"></span>
                              </span>
                          </div>
                      </div>
                  </div>
                <%= f.hidden_field :shop_id, value: @shop.id %>
                <%= f.submit "Create", class: 'btn btn-primary' %>
                <% end %>

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel-warning">
            <div class="panel-heading">
                <h3><%= @shop.name %></h3>
            </div>
            <div class="panel-body">
                Address:
                <%= @shop.address %>
            </div>
            <div class="panel-body">
                Phone:
                <%= @shop.phone %>
            </div>
            <div class="panel-body">
                Website:
                <%= @shop.website %>
            </div>
            <div class="panel-body">
                latitude:
                <%= @shop.latitude %>
            </div>
            <div class="panel-body">
                longitude:
                <%= @shop.longitude %>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=300x470&maptype=roadmap%20&markers=#{@shop.latitude},#{@shop.longitude} ", class: "googlemap"%>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#meeting_date_time').datetimepicker();
    });
</script>
