<h2>Edit user</h2>

<%= form_for :user, url:user_path do |f| %>

<div class="row">
    <div class="col-lg-4">
        <%= casein_text_field f, f.object, :login, {:size => 30, :casein_label => "Username"} %>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <%= casein_text_field f, f.object, :name %>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <%= casein_password_field f, f.object, :password, {:casein_label => "New password"} %>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <%= casein_password_field f, f.object, :password_confirmation, {:casein_label => "Repeat new password"} %>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <%= casein_text_field f, f.object, :email %>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <%= casein_file_field f, @user, @user.class.name.tableize.singularize, :avatar %>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <%= image_tag(@user.avatar_url, class: "img-thumbnail") if @user.avatar?  %>
    </div>
</div>
<p class="submits">
    <%= link_to 'Cancel', users_path, :class => 'btn btn-mini btn-danger' %>
    <%= f.submit "Save changes", :class => "btn btn-mini btn-primary" %>
</p>

<% end %>
