<h2><%= @user.name%>Profile</h2>

<div class="row">
	<div class="col-xs-6 col-md-9">
		<div class="input-group">
			<span class="input-group-addon">User Login Name:</span>
			<span class="form-control"><%= @user.login%></span>
		</div>
		<div><p></p></div>
		<div class="input-group">
			<span class="input-group-addon">User Name:</span>
			<span class="form-control"><%= @user.name%></span>
		</div>
		<div><p></p></div>
		<div class="input-group">
			<span class="input-group-addon">User Email:</span>
			<span class="form-control"><%= @user.email%></span>
		</div>
		<div><p></p></div>
		<div class="input-group">
			<%= link_to "Edit your profile", edit_user_path, :class => "btn btn-danger"%>
		</div>
	</div>
	<div class="col-xs-6 col-md-3">
		<%= image_tag @user.avatar, :class => "img-thumbnail" %>
	</div>
</div>
<div><p></p></div>
<div class="row">
	<div class="col-md-4">
		<div class="list-group">
			<a href="#" class="list-group-item active">
		    <h4 class="list-group-item-heading">My favorite cafes list</h4>
		  </a>
			<% @user.shops.each do |sp|%>
			<a href="#" class="list-group-item">
		    <h6 class="list-group-item-heading"><%=sp.name%></h6>
		  </a>
			<% end %>
  	</div>
	</div>
	<div class="col-md-4">
		<div class="list-group">
		  <a href="#" class="list-group-item disabled">My favorite coffee list</a>
		  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
		  <a href="#" class="list-group-item">Morbi leo risus</a>
		  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
		  <a href="#" class="list-group-item">Vestibulum at eros</a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="list-group">
		  <a href="#" class="list-group-item disabled">My dating history</a>

		  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
		  <a href="#" class="list-group-item">Morbi leo risus</a>
		  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
		  <a href="#" class="list-group-item">Vestibulum at eros</a>
		</div>
	</div>
</div>
<!-- <div class="row" id="map">
 sssddddd
</div> -->
