<!DOCTYPE html>
<html>
    <head>
        <title>CoffeeBuddy</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </head>
    <body>
        <%= render partial: '/layouts/header' %>
        <div class="container">
            <%= yield %>
        </div>
        <%= render partial: '/layouts/footer' %>

    </body>
    <!-- <script>
      function initMap() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            console.log(pos.lat)
            console.log(pos.lng)
          });
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGITPCi5emw3nDzg3N-7FL05BlpyxVpl0&callback=initMap">
    </script> -->

</html>
