<!DOCTYPE html>
<html>
    <head>
        <title>CoffeeBuddy</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <%= render partial: '/layouts/header' %>

        <% if flash[:warning] %>
          <div id="error" class="alert alert-danger">
            <%= flash[:warning] %>
          </div>
        <% end %>
        <% if flash[:notice] %>
          <div id="notice" class="alert alert-success">
            <%= flash[:notice] %>
          </div>
        <% end %>
        <% if content_for?(:help) %>
          <div id="help" class="alert alert-info">
            <%= yield :help %>
          </div>
        <% end %>


        <div class="container">
            <%= yield %>
        </div>
        <%= render partial: '/layouts/footer' %>

    </body>
    <!-- <script>
      function initMap() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            console.log(pos.lat)
            console.log(pos.lng)
          });
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGITPCi5emw3nDzg3N-7FL05BlpyxVpl0&callback=initMap">
    </script> -->

</html>
